<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">>
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/navigation.css}">


</head>
<body>

<div class="navbar box-border" th:fragment="navbar">

    <a th:href="@{/}"><img id="logo" th:src="@{images/StolenLogo.png}" alt="logo"></a>
    <div class="navbar-text">
        <a th:href="@{/}">ØNSKEDISEN</a>
    </div>

    <div class="navbar-fill">
    </div>

    <div class="navbar-text">
        <a th:href="@{/}">Hjem</a>
    </div>
    <div class="navbar-text">
        <a th:href="@{/signup}">Tilmeld</a>
    </div>
    <div class="navbar-text" id="login">
        <a th:href="@{/login}">Log Ind</a>
    </div>


</div>


<footer class="footer box-border" th:fragment="footer">
    <div class="footer-text">
        <div>
            <p style="color: var(--primary-text-color)">@Copyright Ønskedisen a/s</p>
        </div>

    </div>
</footer>

</body>
</html>