<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">>
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" th:href="@{/css/navigation.css}">


</head>
<body>

<header class="navbar box-border" th:fragment="navbar">
    <div class="navbar-text">
        <a th:href="@{/}">Front page</a>
    </div>

    <div class="navbar-text">
        <a th:href="@{registration}">Registration</a>
    </div>

    <div class="navbar-text">
        <a th:href="@{login}">Login site</a>
    </div>


</header>


<footer class="footer box-border" th:fragment="footer">
    <div class="footer-text">
        <div>
            <p style="color: var(--primary-text-color)">@Copyright Ønskedisen a/s</p>
        </div>

    </div>
</footer>

</body>
</html>