:root {

    --primary-text-color: #00739F;
    --primary-text-color-hover: #008abf;

    --secondary-text-color: black;

    --background-color: white;

    --border-color: teal;

    --form-bg-color: rgba(208,228,245, 15%);


    --background-image: #D0E4F5 url("../images/midnight_mountain.jpeg");


}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
