
@import "globals.css";

body{
    margin: 0;
    background: var(--background-image) no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registration_header{
    text-align: center;
    color: var(--secondary-text-color);

}

.centering_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    max-width: 250px;
    padding: 5px;
    margin: auto;

}
label{
    color: var(--secondary-text-color);
}

input {
    background-color: var(--form-bg-color);
    color: var(--secondary-text-color);
    border-radius: 2.5em;
    border: 0.2em solid black;
    width: 20em;
}
