
@import "globals.css";

body{
    margin: 0;
    background: var(--background-image) no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center{
    text-align: center;
    color: var(--secondary-text-color);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--secondary-text-color);
    margin-left: 20em;
    margin-right: 21em;
}

.container_create_wishlist{

}

.container_all_wishlist{


}

ul > li{
    list-style: none;
    text-align: center;

    width: 15em;
    height: 2em;
    margin: 1.5em;
    background-color: var(--form-bg-color);

    border: solid black 0.2em;
    border-radius: 2.5em;
}

li > a{

    color: var(--secondary-text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0 3.4em 0 3.4em ;
    margin: -3.4em;
}

a:hover{
    color: var(--primary-text-color-hover);
}

form > label > input{
    background-color: var(--form-bg-color);
    color: var(--secondary-text-color);
    border-radius: 2.5em;
    border: 0.2em solid black;
}
label{
    font-size: 1.6rem;
}

input[type=text]{
    width: 15em;
    height: 1.2em;
    font-size: 1.6rem;
}

input[type=submit]{
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 8em;
    height: 2em;
    margin-top: 1em;
    font-size: 1.2rem;
    float: inside;

}

.btn_delete{
    color: red;
    background-color: yellow;
    height: 2em;
    width: 2.5em;
}


