<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Ønskedisen</title>
        <th:block th:insert="fragments/components :: head">head</th:block>
        <link rel="stylesheet" th:href="@{css/wishlist_page.css}">

    </head>
    <body>

    <header th:replace="fragments/components :: navbar"></header>

    <main>
        <h1 class="center">Din oversigt</h1>

        <div class="container">

            <div class="container_all_wishlist">
                <h2 style="text-align: center">Dine ønskerlister</h2>

                <ul> <!-- th:each="wishlist : ${wishlists}">
                        <li> <a th:href="#" th:text="${wistlist.name}"></a> </li> -->
                    <li> <a href="#">List 1</a> </li>
                    <li> <a href="#">List 2</a> </li>
                    <li> <a href="#">List 3</a> </li>

                </ul>

            </div>

            <div class="container_create_wishlist">
                <h2>Ny ønskeliste</h2>

                <form method="post" th:action="@{/wishlist?add}">
                    <label>Navngiv din ønskeliste<br>
                        <input type="text" name="name" required>
                    </label>

                    <label>
                        <input value="Opret" type="submit">
                    </label>
                </form>

            </div>

        </div>



    </main>

    <footer th:replace="fragments/components :: footer"></footer>

    </body>
</html>