<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>
    <title>Ønskedisen</title>
</head>
<body>
<header th:replace="fragments/components :: navbar"></header>
<main class="background-image container-fluid py-5 shadow">


    <div class="front-content">
        <p>Velkommen til Ønskedisen! Den eneste rigtige hjemmeside til at lave en digital ønskeliste!<small class="easter-egg"> Konceptet er patenteret, og Ønskeskyen er fake.</small></p>


        <div class="flex-box">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">
            <img class="index-image" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_DK-Library/default/dw5498b4e3/images/content/georgjensen/georgjensen/giftwrapping/1600x600/gifting-occasion-blue-hero-image-1600x6001600.jpg" alt="gift">

        </div>

    </div>


</main>







<footer th:replace="fragments/components :: footer"></footer>
</body>
</html>