<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <th:block th:insert="fragments/components :: head">head</th:block>

</head>
<body>

<header th:replace="fragments/components :: navbar"></header>

<main>
    <h2 class="registration_header">Login</h2>
    <p th:if="${error}">Something went wrong when signing in. Try again.</p>
    <p th:if="${signupSuccess}">Successfully registered. Please sign in.</p>

    <div class="centering_container">
        <form method="POST" th:action="@{/login}">
            <label>Email
                <input type="email" id="emailInput" name="email" required>
            </label>

            <label>Password
                <input type="password" id="passwordInput" name="password" required>
                <label>Se kodeord
                    <input type="checkbox" onclick="passwordVisibility()">
                </label>
            </label>

            <input type="submit" value="Login" onclick="checkLoginInput()" required>
        </form>
    </div>

</main>



<footer th:replace="fragments/components :: footer"></footer>

</body>
</html>