<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

</header>

<main>
    <h2>Registration</h2>
    <form>
        <label>Name</label>
        <input type="text" name="fullName" required>

        <label>Password</label>
        <input type="text" name="argon2Password" required>

        <label>Email</label>
        <input type="text" name="email">

        <input type="submit" required>

    </form>


</main>


<footer>


</footer>
</body>
</html>