<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <link rel="stylesheet" th:href="@{css/styles.css}">

    <th:block th:insert="fragments/components :: head">head</th:block>
</head>

<body>

<header th:replace="fragments/components :: navbar"></header>

<main>
    <h2 class="registration_header">Opret bruger</h2>
    <p class="centering_container"> <small>Ønskedisen gemmer alle dine oplysninger sikkert.</small></p>


    <p th:if="${error}">
        Der skete en fejl under oprettelse. Tjek venligst at dine indtastninger er korrekte.
    </p>

    <form class="centering_container" method="POST" th:action="@{/signup}">
        <label>Profilbillede
            <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture="user">
        </label><br>

        <label><Navn></Navn>
            <input type="text" id="nameInput" name="fullName" required>
        </label><br>

        <label>Email
            <input type="text" name="email" id="emailInput" required>
        </label><br>

        <label>Password
            <input type="password" id="passwordInput" name="password" required>
        </label><br>

        <label for="submitInput"></label>
        <input value="Tilmeld" type="submit" id="submitInput">
    </form>
</main>


<footer th:replace="fragments/components :: footer"></footer>

</body>
</html>