<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>

    <th:block th:insert="fragments/components :: head">head</th:block>
</head>

<body>

<header th:replace="fragments/components :: navbar"></header>

<main>
    <h2>Registration</h2>

    <p th:if="${error}">
        An error happened during signup, please check your inputs.
    </p>

    <form method="POST" th:action="@{/signup}">
        <label>Name
            <input type="text" id="nameInput" name="fullName" required>
        </label><br>

        <label>Email
            <input type="text" name="email" id="emailInput" required>
        </label><br>

        <label>Password
            <input type="password" id="passwordInput" name="password" required>
        </label><br>

        <label for="submitInput">Submit</label>
        <input type="submit" id="submitInput">
    </form>
</main>


<footer th:replace="fragments/components :: footer"></footer>

</body>
</html>