<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <th:block th:insert="fragments/components :: head">head</th:block>
        <title>Ønskedisen</title>
        <link rel="stylesheet" th:href="@{css/wishlist_page.css}">

    </head>
    <body class="background-image">
    <header th:replace="fragments/components :: navbar"></header>

    <main>
        <h1 class="center">Din oversigt</h1>

        <p th:if="${error != null}">
            Der skete en fejl og vi kunne ikke oprette din ønskeliste.
        </p>
        <p th:if="${success != null}">
            Din ønskeliste er blevet oprettet.
        </p>

        <div class="container">

            <div class="container_all_wishlist">
                <h2 style="text-align: center">Dine ønskerlister</h2>

                <ul th:each="wishlist : ${wishlists}">
                    <li><a th:href="${'/wishlist/'+wishlist.getId()}" th:text="${wishlist.getName()}"></a></li>
                    <form method="post" th:action="@{/deleteWishlist}">
                        <button >Slet</button>
                        <input type="hidden" name="id" th:value="${wishlist.getId()}">
                    </form>

                </ul>

            </div>

            <div class="container_create_wishlist">
                <h2>Ny ønskeliste</h2>

                <form method="post" th:action="@{/addWishlist}">
                    <label>Navngiv din ønskeliste<br>
                        <input type="text" name="name" required>
                    </label>

                    <label>
                        <input value="Opret" type="submit">
                    </label>
                </form>

            </div>

            <!--
            <div th:each="wishlist : ${wishlists}">
                    <button th:href="@{/deleteWhishList/{name}(name=${'/whislist/' + wishlist.getName})}" class="btn_delete">Slet</button>
                    <button th:action="@{/deleteWishlist}">Slet</button>
            </div>
            -->



        </div>

    </main>
    <footer th:replace="fragments/components :: footer"></footer>

    </body>
</html>