<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Ønskedisen</title>
        <th:block th:insert="fragments/components :: head">head</th:block>
        <link rel="stylesheet" th:href="@{/css/wish.css}">

    </head>
    <body>

    <header th:replace="fragments/components :: navbar"></header>

    <main>

        <h2 style="text-align: center">Din ønskeliste: </h2>

        <div class="flex-box">


            <div class="container_all_wishes">
                <h2>Ønsker på din liste</h2>

                <ul th:each="wish : ${wishes}">
                    <li>
                        <p th:text="${wish.getTitle()}"></p>
                        <p th:text="${wish.getUrl()}"></p>
                        <p th:text="${wish.getPrice()}"></p>
                        <p th:text="${wish.getNote()}"></p>
                        <hr>
                    </li>
                </ul>

            </div>

            <div class="container_create_wishlist">
                <h2 style="margin-left: 5%">Tilføj et ønske</h2>

                <div>

                  <form method="post" th:action="@{/addWish}" enctype="multipart/form-data">
                      <input type="hidden" id="wishlistId" name="wishlistId" th:value="${wishlistId}">

                      <label class="title">Titel
                        <input type="text" name="title" th:maxlength="200" required>
                      </label>

                      <label class="url">Link til ønske
                        <input type="url" name="url" th:maxlength="2048" required>
                      </label><br><br><br>

                      <label class="price">Pris
                          <input name="price" type="number" required>
                      </label>

                      <label class="note">Note
                          <textarea name="note" th:maxlength="2000" rows="4" cols="40"></textarea>
                      </label>

                      <label class="image">Vælg billede
                          <input name="image" type="file">
                      </label>

                      <label class="submit">
                          <input type="submit" value="Tilføj ønske">
                      </label>

                  </form>

                </div>


                <div>

                    <button class="btn">Færdig</button>
                    <button class="btn">Slet</button>

                </div>

            </div>

        </div>

    </main>

    <footer th:replace="fragments/components :: footer"></footer>

    </body>
</html>