<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <title>Ønskedisen</title>
</head>
<body>
<header th:replace="fragments/components :: navbar(user=${user})"></header>
<main class="background-image container-fluid py-5 shadow">
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 mb-3" th:each="wish : ${wishes}">
                <div class="card">
                    <div class="card-header">
                        <div class="ratio ratio-1x1">
                            <img class="img-fluid w-auto" th:src="'/wish/image/'+${wish.getId()}" alt="wish picture">
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${wish.getTitle()}"></h4>
                        <p class="card-subtitle" th:text="${wish.getPrice()+'kr'}"></p>
                        <p class="card-text" th:text="${wish.getNote()}"></p>

                        <div class="row mx-auto justify-content-between">
                            <a target="_blank" class="col-auto btn btn-primary" th:href="${wish.getUrl()}">Åben link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/components :: footer"></footer>
</body>
</html>