<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskelister</title>
    <th:block th:insert="fragments/components :: head">head</th:block>
    <link rel="stylesheet" th:href="@{/css/wishlists.css}">
</head>
<body>
    <header th:replace="fragments/components :: navbar"></header>

    <main class="container">
        <div class="wishlists">
            <h2>Ønskelister</h2>
            <div th:each="wishlist : ${wishlists}">
                <p th:text="${wishlist.getName()}"></p>
            </div>
        </div>
        <div class="wishlist-form">
            <h2>Lav en ny ønskeliste!</h2>
            <form method="post" th:action="@{/wishlists}">
                <label>Name
                    <input type="text" name="name" required>
                </label>
                <label>Submit
                    <input type="submit">
                </label>
            </form>
        </div>
    </main>

    <footer th:replace="fragments/components :: footer"></footer>
</body>
</html>