<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/components :: head">head</th:block>
    <title>Ønskedisen</title>
</head>
<body>
<header th:replace="fragments/components :: navbar(user=${user})"></header>
<main class="background-image container-fluid py-5 shadow">
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 mb-3" th:each="wish : ${wishes}">
                <div class="card">
                    <div class="card-header">
                        <div class="ratio ratio-1x1">
                            <img class="img-fluid w-auto" th:src="'/wish/image/'+${wish.getId()}" alt="wish picture">
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${wish.getTitle()}"></h4>
                        <p class="card-subtitle" th:text="${wish.getPrice()+'kr'}"></p>
                        <p class="card-text" th:text="${wish.getNote()}"></p>

                        <div class="row mx-auto justify-content-between">
                            <a target="_blank" class="col-auto btn btn-primary" th:href="${wish.getUrl()}">Åben link</a>
                            <button class="col-2 btn btn-danger bi-trash" type="submit"
                                    th:form="'delete'+${wish.getId()}"></button>
                        </div>

                        <form class="visually-hidden" th:id="'delete'+${wish.getId()}" method="post"
                              th:action="@{/deleteWish}">
                            <input type="hidden" name="wishId" th:value="${wish.getId()}">
                            <input type="hidden" name="wishlistId" th:value="${wishlistId}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Tilføj ønske</h3>
                    </div>
                    <div class="card-body">
                        <form class="fw-bold" method="post" th:action="@{/addWish}" enctype="multipart/form-data">
                            <input type="hidden" id="wishlistId" name="wishlistId" th:value="${wishlistId}">
                            <div class="row mb-3">
                                <div class="col-md form-check">
                                    <label class="form-label" for="title">Titel</label>
                                    <input class="form-control" type="text" id="title" name="title" th:maxlength="200"
                                           required>
                                </div>
                                <div class="col-md form-check">
                                    <label class="form-label" for="price">Pris</label>
                                    <input class="form-control" name="price" id="price" type="number" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md form-check">
                                    <label class="form-label" for="url">Link til ønske</label>
                                    <input class="form-control" type="url" id="url" name="url" th:maxlength="2048"
                                           required>
                                </div>
                                <div class="col-md form-check">
                                    <label class="form-label" for="image">Vælg billede</label>
                                    <input class="form-control" name="image" id="image" type="file">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-check">
                                    <label class="form-label" for="note">Note</label>
                                    <textarea class="form-control" name="note" id="note" th:maxlength="2000"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-check">
                                    <button class="form-control btn btn-primary" type="submit">Tilføj ønske</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/components :: footer"></footer>
</body>
</html>